/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

/* cutomizing  navigation bar */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  color: white;
  
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a:hover {

  color: black;

}


.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #ffffff;
  border-radius: 70px 0px 70px 15px;  
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* styling  navigation menu */

.nav_manu{
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid transparent;
  color: transparent;
  padding: 5px; 
  text-align: center;
}
.change-country{
  cursor: pointer;
  border-radius: 15px 50px 30px;
  border: 1px solid transparent;
  color: #a7a7bb;
  padding: 5px; 
  text-align: center;
 
}

/* Customizing navbar for <800px */

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links ul li a:hover {
    padding: .5rem 1rem;
    color: black;
}

  .navbar-links.active {
      display: flex;
  }

  .navbar-links li:hover {
    background-color: #ffffff;
    border-radius: 0px 0px 9px 9px;
    
    
  }

  
}


