/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');

/* cutomizing  main body */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:MuseoModerno;
}


html{
    font-size: 16px;
}
.hide{
    display: none;
}


main{
    max-width: 100%;
    margin: 0 auto;
}


.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* cutomizing  logo */

.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img{
    width: 60px;
}
.logo p {
    font-weight: bold;
    color: #ffffff;
}

/* styling api chart and contents */

.stats{
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.432)) ,url('../img/bg.jpg');
    background-size: cover;
}

/* styling api latest reports */

.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    color: #FFF;
}

/* styling API contents layout */

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
    color: #2F2F2F;
}

.name{
    font-size: 2.2em;  
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to right, rgb(124, 121, 121) 50%, #44e25c 50%, #c52626);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

.name:hover{
    background-position: -100%;
    transform: scale(1.15); 
}

.total-cases .value{
    font-size: 2em;
    font-weight: bold;
    color: #009EC3;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #74B64A;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #f44336;
}
.new-value{
    font-size: 1.3em;
}

/* styling chart */

.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}

/* styling search section */

.search-country{
    position: relative;
    top: 10px;
}
.search-box{
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;

    width: 200px;
    height: 30px;

    background-color: #111;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
}
.search-box input{
    width: 170px;
    height: 25px;
    border-radius: 25px;
    background-color: #111;
    color: #FFF;
    border-color: #111;
    padding-left: 19px;
    font-size: 1.1em;
}
.search-box img{
    width: 19px;
    padding-right: 9px;
    cursor: pointer;
    opacity: 0.3;
}

.country-list{
    display: flex;
    border-radius: 0px 0px 0px 77px;
    position: absolute;
    top: 30px;

    width: 200px;
    height: 300px;

    background-color: #111;
    opacity: 0.6;

    overflow-y: scroll;
}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}
.country-list ul li:hover{
    border-left: 1px solid #FFF;
}

.country-list::-webkit-scrollbar {
    width: 10px;
    
  }

.country-list::-webkit-scrollbar-track {
    background: #111;
  }
  
.country-list::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 15px;
  }
  
.country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
  }

/* styling footer section */

footer{
    max-width: 100%;
    height: 56px;
    background-color: hsl(240, 100%, 1%);
   
    margin: 0 auto;

}

.footer-container{
   
    height: 100%;
    display: flex;
    justify-content: center;
}

.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright p{
    font-size: 12px;
    color: rgb(255, 255, 255);
}


/* Customizing learn page */

/* styling learn section */

.learn_section{
    max-width: 80%;
    margin: 0 auto;
}
.main_article{
    max-width: 80%;
    margin: 0 auto;
    font-size: 35px; 
    margin-top: 3%;
    margin-bottom: 2%;
    color:#EC1B23 ;
}

.overview,
.prevention,
.symptoms{
    font-size: 25px;
    color:#008dc9 ;

}

/* Customizing page contents for <600px */

@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main_article{
        margin-top: 5%;
        font-size: 22px;  
    }

    .overview,
    .prevention,
    .symptoms{
    font-size: 18px;
    color:#008dc9 ;
    }   
    
    .learn_section{
    font-size: 16px;
    }

    .copyright p{
        font-size: 10px;
        color: rgb(255, 255, 255);
    }
}